.row {
    /* border-bottom: 1px solid; */
}

.col,
.col-4,
.col-8 {
    /* border-right: 1px solid; */
    /* border-left: 1px solid; */

}

.event {
    position: absolute;
    left: 20px;
    height: 50px;
    width: 90%;
    font-size: 12px;
    background-color: rgb(255, 0, 0, .75);
    border-left: 5px solid red;
}

.event:hover {
    background-color: red;
}